body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #151515;
    color: #e4e4e4;
    overflow: hidden;
}

header {
    width: 100%;
    background: #0c0c0c;
    padding: 4px 10px;
    display: flex;
}

h1 {
    color: #fff;
    margin-left: 10px;
}

h1 .header-title {
    margin-left: 25px;
}
